.Body{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px;
}
.title{
    font-family: 'EB Garamond', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #354733;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.span{
    font-family: 'EB Garamond', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #8A9B6E;
    text-align: center;
    margin-top: 30px;
}

@media(max-width:320px){
    .title{
        font-size: 50px;
    }
    .span{
        font-size: 50px;
    }
}